@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PhotoList</h1>
    <p>Welcome to your favourite website.</p>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Photo" asp-action="Index">My Photos</a>
    </li>
</div>
